<div class="p-5">
	<div class="flex justify-end">
		<app-button buttonStyle="outline" (click)="onCloseMenu()">
			<fa-icon [icon]="faXmark"/>
		</app-button>
	</div>
	<menu type="toolbar" class="p-5">
		<li class="p-2 flex items-center justify-between hover:bg-blue-800 cursor-pointer active:bg-blue-700">
			<span class="block">My Household</span>
			<fa-icon [icon]="faHouse"/>
		</li>
		<li class="p-2 flex items-center justify-between hover:bg-blue-800 cursor-pointer active:bg-blue-700">
			<span class="block">Logout</span>
			<fa-icon [icon]="faArrowRightFromBracket"/>
		</li>
	</menu>
</div>
