<h1 class="text-3xl text-center mb-6">{{ listName() }}</h1>
<div class="max-w-screen-md m-auto">
	<div class="mb-4 flex justify-end mr-3 md:mr-0">
		<app-checkbox [checked]="showCompletedItems()"
									(valueChange)="onToggleDisplayCompletedItems()"
									label="Show completed items"/>
	</div>
	<app-new-todo-list-item (itemCreated)="onCreateItem($event)"
													[tabIndex]="newItemButtonTabIndex()"/>
	@for (item of pendingItems(); track item.id; let index = $index) {
		<app-todo-list-item [item]="item"
												[tabIndex]="index + 1"
												(itemMarkedAsDone)="onMarkItemAsDone($event)"
		/>
	}
	@if (showCompletedItems()) {
		@for (item of doneItems(); track item.id; let index = $index) {
			<app-todo-list-item [item]="item"
													[tabIndex]="index + 1"
													(doneItemMarkedAsPending)="onMarkDoneItemAsPending($event)"
			/>
		}
	}
	@if (loadingAndListEmpty()) {
		<p class="text-center">Loading...</p>
	}
</div>
