<app-header [title]="listName()"/>
<div class="max-w-screen-md m-auto">
	<app-new-todo-list-item (itemCreated)="onCreateItem($event)"
													[tabIndex]="newItemButtonTabIndex()"/>
	@for (item of pendingItems(); track item.id; let index = $index) {
		<app-todo-list-item [item]="item"
												[tabIndex]="index + 1"
												(itemMarkedAsDone)="onMarkItemAsDone($event)"
		/>
	}
	@for (item of doneItems(); track item.id; let index = $index) {
		<app-todo-list-item [item]="item"
												[tabIndex]="index + 1"
												(itemMarkedAsDone)="onMarkItemAsDone($event)"
		/>
	}
	@if (loadingAndListEmpty()) {
		<p class="text-center">Loading...</p>
	}
</div>
