@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: rgb(36,36,36);
  background: linear-gradient(48deg, rgba(22,22,22,1) 0%, rgb(32, 32, 32) 55%, rgb(13, 13, 13) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Roboto Mono", monospace;
}

@layer base {
  * {
    @apply text-gray-200;
  }
}
