<app-header title="TODO LISTS"/>
<div class="flex justify-center gap-6 flex-wrap mb-6">
	<app-card [clickable]="true"
						borderColor="amber"
						(click)="onCreateList()"
						class="self-stretch w-1/2 sm:w-1/3 md:w-1/4 lg:w-1/6 max-w-52">
		<fa-icon [icon]="faPlus" size="3x" class="text-amber-300"/>
		<h2 class="mt-4 text-amber-300">NOUVEAU</h2>
	</app-card>
</div>
<div class="flex justify-center gap-6 flex-wrap">
	@for (list of lists(); track list.id) {
		<app-card [clickable]="true"
							(click)="onClickList(list.id)"
							class="self-stretch w-1/2 sm:w-1/3 md:w-1/4 lg:w-1/6 max-w-52">
			<fa-icon [icon]="faListCheck" size="3x" class="text-white"/>
			<h2 class="mt-4">{{ list.name }}</h2>
		</app-card>
	}
</div>
