@let householdName = myHousehold.name();
@let householdMembers = myHousehold.members();
@let pendingHouseholdMembers = myHousehold.pendingMembers();

<h1 class="text-3xl text-center mb-6">MY HOUSEHOLD</h1>
<div class="max-w-screen-md mx-auto">
	<app-card>

		<app-my-household-info-row label="Name">
			<p>{{ householdName }}</p>
		</app-my-household-info-row>

		<app-my-household-info-row label="Members">
			<app-my-household-member-list [members]="householdMembers"/>
		</app-my-household-info-row>

		@if (pendingHouseholdMembers.length > 0) {
			<app-my-household-info-row label="Pending members">
				<app-my-household-member-list [members]="pendingHouseholdMembers"/>
			</app-my-household-info-row>
		}
		@if (invitingNewMember()) {
			<app-member-invitation-form class="block mt-12" (memberInvite)="onInviteMember($event)"/>
		} @else {
			<app-button class="block mt-6"
									buttonStyle="primary"
									(click)="onStartInvitingNewMember()">INVITE NEW MEMBER
			</app-button>
		}
	</app-card>
</div>
