<app-header title="MY HOUSEHOLD"/>
<div class="max-w-screen-md mx-auto">
	<app-card>
		<app-my-household-info-row label="Name">
			<p>{{ householdName() }}</p>
		</app-my-household-info-row>
		<app-my-household-info-row label="Members">
			<ul>
				@for (member of householdMembers(); track member.id) {
					<li>{{ member.firstName }}{{ member.lastName }} - {{ member.email }}</li>
				}
			</ul>
		</app-my-household-info-row>
		@if (pendingHouseholdMembers().length > 0) {
			<app-my-household-info-row label="Pending members">
				<ul>
					@for (member of pendingHouseholdMembers(); track member.id) {
						<li>{{ member.firstName }}{{ member.lastName }} - {{ member.email }}</li>
					}
				</ul>
			</app-my-household-info-row>
		}
		<app-button class="block mt-6"
								buttonStyle="primary"
								(click)="onStartInvitingNewMember()">INVITE NEW MEMBER</app-button>
	</app-card>
</div>
